/* Height of page to be 115% */
html,
body {
  height: 115%;
}

/* Paragraph tags */
p {
  color: blueviolet;
}

/* all of h1 tags */
h1 {
  color: wheat;
}

/* Title Heading */
#titleHeading {
  background-color: black;
  outline: auto blanchedalmond;
  text-align: center;
  padding: 1rem;
  text-shadow: 2px 2px grey;
}

/* For the title/ heading follow affect */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Body HTML */
body {
  background-color: orange;
  overflow-y: scroll;
}
/* Link to movie tag mouse pointer - getting by id*/
#link-To-MovieTitle {
  cursor: pointer;
}

/* Link to Artist tag mouse pointer - getting by id */
#link-To-Artist {
  cursor: pointer;
}
/* All of H3 tags */
h3 {
  background-color: plum;
}

/* Favorite movie class */
.favoriteMovieSection {
  border: 5px grey solid;
  padding: 2rem;
  margin: 5px;
}

/* Favorite music class */
.favoriteMusicContainer {
  border: 5px grey solid;
  padding: 2rem;
  margin: 5px;
}

/* Favorite food container */
.foodContainer {
  border: 5px grey solid;
  padding: 2rem;
  margin: 5px;
}

/* Favorite table container */
.tableContainer {
  border: 5px grey solid;
  padding: 2rem;
  margin: 5px;
}

/* Table styles - For each components of the table */
table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background: grey;
  width: 200px;
}

tr:nth-child(even) {
  background: darksalmon;
}

/* Smiley emoji picture at the end */
.smileyEmojiPicture {
  align-self: auto;
  text-align: center;
  padding-top: 1rem;
}

/* End of CSS doc*/
